<h1>Branch: <%= @parking_branch.branch_name %></h1>
<h3>Company: <%= link_to @parking_branch.parking_company.company_name, show_company_path(@parking_branch.parking_company.company_name) %></h3>
<p>Airport: <%= link_to @parking_branch.airport, branch_by_airport_path(@parking_branch.airport) %></p>


<div class="info">
<ul class="nav nav-tabs nav-stacked">
	<i class="icon-book icon-fix"></i><li><%= @parking_branch.telephone %></li>
    <i class="icon-envelope icon-fix"></i><li><%= @parking_branch.email %></li>
    <i class="icon-plane icon-fix"></i><li><%= @parking_branch.airport %></li>
    <i class="icon-road icon-fix"></i><li><%= @parking_branch.full_address %></li>
</ul>
<div class="map"><%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@parking_branch.latitude}%2C#{@parking_branch.longitude}" %></div>
<div class="content">
<%= link_to 'Edit Branch', edit_parking_branch_path(@parking_branch.id), :class => "btn btn-large btn-primary" %>
<%= link_to "Delete Parking Branch", @parking_branch, :confirm => 'are you sure?', :class => 'btn btn-large btn-danger', :form => @parking_branch, :method => :delete %></div>
</div>