<h2>Sign up</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true %> 
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <h3>more information</h3>
  <%= f.input :vat_number, :required => false %> 
  <%= f.input :telephone, :required => false %>
	 <%= f.simple_fields_for :addresses do |a| %>
	 <%= a.input :address1 %>
	 <%= a.input :address2, :required => false %>
	 <%= a.input :address3, :required => false %>
	 <%= a.input :city %>
	 <%= a.input :county %>
	 <%= a.input :postcode %>
	 <%= a.country_select :country, ["United Kingdom"], { keys: :alpha3s, values: :names } %>
  <% end %>


  <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
