<p id="notice"><%= notice %></p>
<h3></h3>
<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Transaction ID</th>
    <th>Drop off</th>
    <th>Pick up</th>
    <th>Car</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td><%= @booking.user.name %></td>
    <td><%= @booking.transaction_id %></td>
    <td><%= @booking.drop_off %></td>
    <td><%= @booking.pick_up %></td>
    <td><%= @booking.car.car_make + " " + @booking.car.car_model %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_booking_path(@booking),:class => "btn btn-warning" %> <%= link_to 'Back', bookings_path,:class => "btn" %>
