<h1><%= @parking_company.company_name %></h1>
<p><%= @parking_company.description %></p>


<div class="info">
<ul class="nav nav-tabs nav-stacked">
	<i class="icon-book icon-fix"></i><%= @parking_company.telephone %></i></li>
    <i class="icon-envelope icon-fix"><li><%= @parking_company.email %></i></li>
    <i class="icon-globe icon-fix"><li><%= @parking_company.website %></i></li>
    <i class="icon-road icon-fix"><li><%= @parking_company.full_address %></i></li>
</ul>
<div class="branch-list">
<%= render :partial => 'company_branches' %>
</div>
<%= link_to 'Edit Company', edit_parking_company_path(@parking_company.id), :class => "btn btn-large btn-primary" %>
</div>