<h1><%= @parking_company.company_name %></h1>
<p><%= @parking_company.description %></p>


<div class="info">
<ul class="nav nav-tabs nav-stacked">
	<i class="icon-book icon-fix"></i><li><%= @parking_company.telephone %></li>
    <i class="icon-envelope icon-fix"></i><li><%= @parking_company.email %></li>
    <i class="icon-globe icon-fix"></i><li><%= @parking_company.website %></li>
    <i class="icon-road icon-fix"></i><li><%= @parking_company.full_address %></li>
</ul>
<div class="branch-list">
<%= render :partial => 'company_branches' %>
</div>
<% if can? :update, @parking_company %>
	<%= link_to 'Edit Company', edit_parking_company_path(@parking_company.id), :class => "btn btn-large btn-warning" %>  
<% end %>
<%= link_to "Add a branch", add_parking_branch_path, :class => "btn btn-large btn-success" %>
</div>