<%= semantic_form_for @parking do |f| %>
  <%= f.inputs do %>
  	
  	<li class="select input required stringish">
  		<label class=" label" for="company_name">Company</label>
  		<%= select_tag 'company name', options_from_collection_for_select(ParkingCompany.all, :id ,:company_name), include_blank: true, :class => :input %>
	</li>
  	
  	<li class="select input required stringish">
  		<label class=" label" for="company_branch">Branch</label>
  		<%= f.grouped_collection_select :parking_branch_id, ParkingCompany.order(:company_name), :parking_branches, :company_name, :id, :branch_name, include_blank: true %></li>
  	<%= f.input :name %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
