<h1>Listing cars</h1>

<table class="table table-striped">
  <tr>
    <th>Owner</th>
    <th>Make</th>
    <th>Model</th>
    <th>Colour</th>
    <th>Year</th>
    <th>Milage</th>
    <th>Picture</th>
    <th>Last state report</th>
    <th>Actions</th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.user.name %></td>
    <td><%= car.car_make %></td>
    <td><%= car.car_model %></td>
    <td><%= car.car_colour %></td>
    <td><%= car.car_year %></td>
    <td><%= car.car_milage %></td>
    <td><%= car.car_picture %></td>
    <td><%= car.car_last_state_report %></td>
    <td><%= link_to 'Show', car, :class => "btn btn-success" %> <%= link_to 'Edit', edit_car_path(car), :class => "btn btn-warning" %> <%= link_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Car', new_car_path, :class => "btn btn-primary" %>